h1 {
    text-align: center;
    display: block;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif
}
h3 {
    display: block;
    text-align: center;
}
#button {
    margin-left: 47%;
    display: block;
    border: 2px solid black;
    box-shadow: 5px 10px;
}