<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rndm word</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'word_gen/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <form action="/word_gen/create" method="post">
        {% csrf_token %}
        <h3>Random Word attempt: {{request.session.counter}}</h3>
        <h1>{{random}}</h1>
        <input id="button" type="submit" value="Generate">
    </form>
</body>
</html>