<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/update/{{user.id}}" method='post'>
        {% csrf_token %}
        <label>Full Name:<input type="text" name="full_name" id="first_name" value="{{ user.full_name}}"></label>
        <label>Email<input type="text" name="email" id="email" value="{{ user.email}}"></label>
        <input type="submit" value="Update">
    </form>
    <a href="/">Go Back</a>
</body>
</html>