<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/register' method='POST'>
        {% csrf_token %}
        <label>Full Name:<input type="text" name="full_name" id="full_name"></label>
        <label>Email<input type="text" name="email" id="email"></label>
        <input type="submit" value="Create">
    </form>
    <a href="/">Go Back</a>
</body>
</html>